
#sliderCarousel .carousel-caption {
    left:0;
    right:0;
    bottom:0;
    text-align:left;
    padding:10px;
    background:rgba(0,0,0,0.6);
    text-shadow:none;
}

#sliderCarousel .list-group {
    position:absolute;
    top:0;
    right:0;
}
#sliderCarousel .list-group-item {
    border-radius:0px;
    cursor:pointer;
}
#sliderCarousel .list-group .active {
    background-color:#eee;
}

@media (min-width: 992px) {
    #sliderCarousel {padding-right:33.3333%;}
    #sliderCarousel .carousel-controls {display:none;}
}
@media (max-width: 991px) {
    .carousel-caption p,
    #sliderCarousel .list-group {display:none;}
}