body {
    background: url("../img/back.jpg") top center fixed;
    padding: 0;
    margin: 0;
    color:#fff;
}

@media (max-width: 768px){
    .container {
        padding: 0;
        margin: 0;
    }


}
.header {
}
#banner {
    margin-bottom: 5px;
}
.navbar {
    border-radius: 0;
    /*background-color:#3D4C54 !important;*/

}

.breaking-news {
    padding: 3px;
    background-color: #eeeeee;
    border-bottom: #ccc;
}
.outer-content {
    padding: 10px;
    color:#333;
    background-color: #fff;
}
.content {
    margin: 30px 0 15px 0;
}
.cards {
    margin: 30px 0 30px 0;
}
.top {
    padding: 4px;
    background-color: #2b2d2f;
    margin-bottom: 3px;
    border-bottom: thin solid #fff;
}
.menu.navbar{
    margin:0 !important;
    padding:0 !important;
    color:#fff !important;
}
.menu.nav-item {
    border-right: thin solid #537078;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.menu.nav-item:hover {
    background-color: #333333;
}

.footer {
    padding:30px;
    background-color: #F1F1F1;
}
footer {
    margin-bottom: 30px;
}
.bottom {
    background-color: #1f2021;
    color:#fff;
    padding: 10px;
    font-size:11px;
}



.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}


/* intr section
****************/

#intr {
    background:#f7f7f7;
    border-bottom:1px solid #d4d4d4;
    border-top:1px solid #d4d4d4;
    height:41px;
    padding:0 10px;
    overflow:hidden;
}

.brnews {
    max-height:45px;
    padding:9px 0;
}

.brnews a {
    color:#555E6B;
}

.brnews .entry {
    display:inline-block;
}

.brnews h3 {
    background:url("../img/brnews-bg1.png") no-repeat;
    background-size:110px;
    color:#FFF;
    float:left;
    font-size:11px;
    line-height:1;
    margin:0;
    padding:6px 7px 7px;
    width:115px;
}

#scroller li {
    list-style:none;
}

#scroller li .title {
    font-weight:bold;
}

#scroller li .title:after {
    content:"»";
    font-weight:normal;
    margin:0 3px 0 15px;
}

#scroller li p {
    display:inline-block;
    margin:2px 0 0;
}

#intr .search {
    float:right;
}

#intr .search input[type="text"] {
    border:medium none;
    box-shadow:none;
    height:33px;
    width:77%;
}

.searchform input[type="text"] {
    height:31px;
    border-radius:0 0 0 0 !important;
    border:1px solid #d4d4d4;
    vertical-align:top;
    box-shadow:none !important;
    transition:none !important;
}

.widget .searchform input[type="text"]:focus{
    border:1px solid #d4d4d4;
}

#intr input#searchsubmit {
    position:absolute;
    right:0;
}

/* searchform */

#searchform p {
    position:relative;
}

#searchform input[type="text"] {
    border-radius:0 0 0 0;
    font-weight:normal !important;
    height:31px;
    margin:0;
}

.search form {
    background:#FFF;
    border-left:1px solid #d4d4d4;
}

.entry-content form#searchform {
    border-left:none;
}

.entry-content form#searchform input[type="text"] {
    border-radius:0 0 0 0;
    height: 31px;
    vertical-align:top;
}

.entry-content form#searchform input#searchsubmit{
    margin-left:-5px !important;
}

.widget .search form#searchform,
.footer-widget .search form#searchform {
    background:none !important;
    border-left:none;
}

input#searchsubmit {
    background:url("images/search-bg1.png") no-repeat;
    border:none;
    height:41px;
    width:44px;
    text-indent:-9999px;
}


/* carousel */
.media-carousel
{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
.media-carousel img
{
    width: 250px;
    height: 100px
}
/* End carousel */


/*blog*/

.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}


.btn-blog {
    color: #ffffff;
    background-color: #000066;
    border-color: #000066;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#34ca78;
    border-color: #34ca78;
}

.margin10{margin-bottom:10px; margin-right:10px;}

.blog-title {
    padding-bottom: 20px;
    border-bottom: thin solid #eee;
}

.media {
    margin-bottom: 8px;
    padding-bottom: 5px;
    border-bottom: #eee thin solid;
}

.lig-title {
    padding-bottom: 20px;
    border-bottom: #eee thin solid;
}
.tab-pane {
    padding: 10px;
}
.tr-spacer
{
    height: 20px;
}
.table tbody>tr>td.vert-align{
    vertical-align: middle;
}


.panel-overlay {
    top: 0; right: 0; bottom: 0; left: 0;
    position: absolute;
    display: none;
    background-color: #2b2d2f;
    opacity: .4;
}
.panel-overlay-full {
    opacity:    0.5;
    background: #000;
    width:      100%;
    height:     100%;
    z-index:    10;
    top:        0;
    left:       0;
    position:   fixed;
    display: none;
}

.panel-overlay img, .panel-overlay-full img{

    position:absolute;
    left:50%;
    top:50%;
    margin-left: -60px;
    margin-top: -60px;
}
#article ol,ul{
    margin-left:4px !important;
}
.clickable-row {
    cursor: pointer !important;
}
